@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image:url("background-images/copen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    height:100%;
    min-height:100vh;
}
h1,h2,h3,label,button,a{
    font-family: 'Roboto Condensed';
}
p,div,input,span, textarea{
    font-family: 'Roboto';
}
h1, h2{
    text-align: center;
}

/****   MENU    *******/
nav{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    align-content: center;
    padding: 0 1em;
    height:50px;
    /* background:rgba(250,250,250,.5); */
}
a{
    text-align: center;
    text-decoration:none;
}
nav>a{
    color:black;
}
a#logo{
    text-align: left; 
}
a:visited{
    color:black;
}
a.active{
    font-weight: bold;
    text-decoration: underline;
}
#loginPage > h1, #signupPage >h1{
                                                                    
    margin-top: 70px;
}
#loginPage > h2, #signupPage >h2{
    margin-bottom: 20px;
}

/*****  Reusable Css    *****/
.property p, .property input, .property h3, .profileInformation input{
    text-transform: capitalize
}
.formContainer{
    background:rgba(250, 250, 250,.6);
    margin:1em  20em;
    padding:2%;
    border-radius:10px;
}
 button, .btnDeleteProperty{
    height:35px;
    line-height: 35px;
    margin: 5% auto;
    padding:0 8%;
    text-align: center;
    background-color:#329795;
    color:white !important;
    border-radius:5px;
    font-size: 1em;
    border:none;
}

/*****   INDEXPAGE    *****/
#searchResults{
    display: none;
    width:300px;
    height:auto;
    margin: 0 10.2em;
    padding: 1%;
    background: #eee;
    border-radius: 0 0 5px 5px
}
.searchLink{
    text-align: left;
    display: block;
    color:#329795;
    font-size:110%;
    border-bottom:1px solid #ddd;
}
#frontpage{
    /* background-image:url("background-images/reykjavik.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    /* width:100vw; */
    /* margin-top:-10vh;
    height:110vh; */
    padding:10em;
}
#frontpage .noValidate{
    background:#eee !important;
}
#frmSearch {
    display: grid;
    grid-template-columns: 1fr .1fr;
    grid-gap: 10px;
    text-align: center;
    justify-content: center;
    margin: 1em 10em 0;
}
#frmSearch button{
    margin:0;
}
#frontpage > h1{
    grid-column: 1/-1;
}
.searchBar{
    display: block;
    font-size: 120%;
    height:45px;
}

/*****   Properties and map    *****/
#mapProperties{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: calc(100vh - 70px);
    position: fixed;
    top:70px;
    left:0;
    padding:0.5em;
    min-height:100vh;
    background:linear-gradient(180deg, rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.8) 30%,
    rgba(255,255,255,1) 100%);
}
#map{
    width: 100%;
    z-index: 0;
    border-radius: 5px;
}


.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background:  #86333C;
    width:15px;
    height:15px;
}

#properties{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5em;
    padding: 0 .5em;
    overflow-y: scroll;
    height:auto;
}
#properties h1{
    grid-column: 1/-1;
}
.property{
    
    display:grid;
    /* grid-template-columns: 2fr 1fr; */
    width:100%;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:.5em;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    position: relative;
}

.property p{
    margin: 0 1em 1em;
}
.property h3{
    margin: 1em 1em 0; 
}
.property img{
    border-radius: 5px 5px 0 0 ;
    grid-column:1/-1;
    width:100%;
    height:150px;
    object-fit: cover;
}
.activeProperty{
    box-shadow:0 4px 10px rgba(0,0,0,.5);
    transform:scale(1.05);
    z-index: 1000;
    background:white;
    transition: all .3s;
}
.marker.activeProperty{
    height:25px;
    width: 25px;
}


.heart {
    fill: #86333C;
    opacity: .5;
    bottom: 35%;
    right:5%;
    width: 25px;
    position: absolute;
    cursor:pointer;
    transition: all .1s;
  }
  .heart:hover, .heart.likedByUser{
      transform:scale(1.07);
      opacity:1;
  }
  /* .heart.likedByUser{
      opacity:1;
  } */
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }

/*****   FORM    *****/

#signupForm, form{
    display:grid;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}
.profileInformation> form{
    display: block;
}
/* button{
    border-radius: 5px;
    padding:10px 5px;
    
    background-color: #329795;
} */
button:disabled{
    background:#ddd;
}
label {
    font-weight: bold;
}

textarea {
   width: 100%;
   border: 0;
   border-radius: 5px;
   padding:10px 10px 10px 30px;
   background: #F5F0F6;
}
input[type="text"],
input[type="password"],
input[type="number"]{
   width: 100%;
   border: 0;
   border-radius: 5px;
   height:35px;
   padding:10px 10px 10px 30px;
   background: #F5F0F6;
}

/*      FORM VALIDATION         */
 input[type="text"]:valid:not(:placeholder-shown):not(.noValidate),
 input[type="password"]:valid:not(:placeholder-shown):not(.noValidate),
 textarea:valid:not(:placeholder-shown):not(.noValidate){
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  background-color:#eee;
  /* position: relative; */
}

 input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
 input[type="password"]:invalid:not(:focus):not(:placeholder-shown),
 textarea:invalid:not(:focus):not(:placeholder-shown),
 .inputError:not(:focus) {
  background: pink !important;
}
 
input[type="text"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
.inputError:not(:focus) ~ .requirements{
  max-height: 200px;
  /* padding:3px 10px 10px 30px; */
}
.requirements {
  padding: 0 30px 0 30px;
  color: #999;
  max-height: 0;
  transition: all 0.3s;
  overflow: hidden;
  color: red;
  /* font-style: italic; */
  font-size: 80%;
}

/*****      PROFILE PAGE     *****/

#user >#agentForm, #user >#agentProperties {
    display: none;
}
#agent > #likedProperties{
    display: none;
}

.hiddenForm{
    display:none;
}
.btnCloseFrm{
    cursor: pointer;
    text-align: right;
    font-weight: bold;
}

.profileContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 5%;
    min-height:100vh;
    background:linear-gradient(180deg, rgba(255,255,255,.1) 0%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,1) 100%);
    /* grid-gap:5%; */
}
.profileContainer>h1{
    align-self:center;
    text-align: left;
}
#agentProperties, #likedProperties{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    grid-gap:3%;
    /* overflow-y:scroll;  */
}

#agentProperties h2, #likedProperties h2{
    grid-column:1/-1;
}
#agentProperties img, #likedProperties img{
    width:100%;
    height:150px;
    object-fit: cover;
}
#agentProperties form{
    display:initial;
}


.btnDeleteProfile, .btnDeleteProperty{
    background:#86333C;
    margin:0;  
}
.profileInformation, #agentForm{
    margin:5% 0;
}
/* .profileInformation div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:5px;
    margin-top:2%;
}*/
.hidden{
    visibility:hidden;
}
.profileInformation h2{
    text-align: left;
    display:inline;
} 

input.noValidate{
    background:none;
    margin:0;
    height: auto;
    padding: 1%;
    font-size: 110%;
}
.editInfo{
    display:inline;
    /* width:20px; */
    margin-left:5%; ;
}
.buttonContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
    margin-bottom: 5%;
    align-items: center;
    align-content: center;
    justify-content: right;
}
/*****    MODAL    *****/
.modal{
    position:fixed;
    top:0;
    display:none;
    background:rgba(0,0,0,.7);
    width:100vw;
    height:100vh;
    /* overflow: hidden; */
}
.modalContent{
    background:white;
    box-shadow: 0px 4px 10px rgba(0,0,0,.5);
    border-radius:10px;
    margin:10vh auto;
    width:70vw;
    height:40vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
.modalContent>div{
    text-align:center;
}
.modalContent>h1{
    font-size:100%;
    margin:5%;
}
.modalContent>div>a{
    margin: 5%;
}
.continueDelete{
    background:#86333C;
}
.backToProfile, .btnLogout{
    background: #329795;
}.btnDeleteProperty{
    padding: 8px 5px;
}
.continueDelete, .backToProfile, .btnLogout{
    padding: 8px 40px;
    /* width: 50px;
    height: 100px; */
    color: white !important;
    border-radius: 5px;
}


/*****    CONTACT PAGE    *****/
/* #emailContainer{
    /* padding:5% 0; */
    /* height:100vh;
    background:linear-gradient(180deg, rgba(255,255,255,.1) 0%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,1) 100%); */
} */
#emailContainer h2:nth-child(2){
    margin-bottom: 2%;
}

.error{
    color:#86333C;
}
.error a{
    color:#329795;
    font-style: italic;
}


/***********    MEDIA QUERIES     *********************/
@media only screen and (min-width: 1920px) {
}

@media only screen and (max-width: 1050px) {
    body{
        overflow: visible;
    }
}
@media only screen and (max-width: 768px) {
    #map{
        display: none;
    }
    #mapProperties{
        display:block;
        height:100%;
        position:inherit;
        padding:5%;
    }
    #properties{
        grid-gap:3%;
    }
    .formContainer {
        margin:5em;
    }
    /* .profileContainer{
        display: block; */
    /* } */
}
@media only screen and (max-width: 500px) {
    #properties{
        display:block;
    }
    .property{
        margin-top:5%;
    }
    .formContainer {
        margin: 5em 2em;
    }
}